<div class="container">
  <a class="btn btn-primary" [routerLink]="['/add']">Add</a>
  <div
    *ngFor="let item of list; index as i">
    <div class="card mb-2">
      <div class="card-body">
        <div class="row mb-4">
          <div class="col">
            <label class="d-block mb-0 font-weight-bold">Task Name</label>
            <span>{{item.taskName}}</span>
          </div>
          <div class="col">
            <label class="d-block mb-0 font-weight-bold">Started On</label>
            <span>{{item.startDateTime}}</span>
          </div>
          <div class="col">
            <label class="d-block mb-0 font-weight-bold">Ended On</label>
            <span>{{item.endDateTime}}</span>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col-4">
            <label class="d-block mb-0 font-weight-bold">Status</label>
            <span>{{item.taskStatus}}</span>
          </div>
          <div class="col-8">
            <label class="d-block mb-0 font-weight-bold">Description</label>
            <span>{{item.taskDescription}}</span>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <label class="d-block mb-0 font-weight-bold">Comments</label>
            <span>{{item.comments}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

